mat-sidenav-container {
  background-color: #1e1e1e;
  height: 100vh;
  width: 100%;
  display: flex;
}

mat-toolbar {
  background-color: #1e1e1e;
  color: #c8c8c8;
}

mat-sidenav {
  background-color: #1e1e1e;
}

.sidenav {
  background-color: #1e1e1e;
  border-right: 3px solid #282828;
  height: 100vh;
  width: 300px;
  padding: 10px;
  padding-top: 30px;
}

mat-sidenav-content {
  background-color: #1e1e1e;
  width: 75%;
  height: 100%;
  padding: 25px 15px 50px;
}

.contenuPage {
  margin: 10px;
  width: 100%;
}
