body {
    overflow-x: hidden;
}
mat-sidenav-container {
    background-color: #1E1E1E;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden; 
}

mat-toolbar {
    background-color: #1E1E1E;
    color: #c8c8c8;
}

mat-sidenav {
    background-color: #1E1E1E;
}

.sidenav {
    background-color: #1E1E1E;
    border-right: 3px solid #282828;
    height: 100vh;
    width: 300px;
    padding: 10px;
    padding-top: 30px;
}

mat-sidenav-content {
    background-color: #1E1E1E;
    padding: 20px;
    width: 100%;
}


.contenuPage {
    margin: 30px;
    width: 100%;
    width: calc(100% - 60px);
}


